@import "reset.scss";
@import "variables.scss";

body {

	// Base styles
	text-rendering: optimizeLegibility;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.2rem;

	li {
		list-style: none;
	}

	// Header
	header {
		background: red;
		width: 100%;
		overflow: hidden;
		height: $headerSize;
		h1 {
			background: grey;
			float: left;
			margin-left: $contentMargin;
			height: $headerSize;
			line-height: $headerSize;
		}
		nav {
			float: right;
			margin-right: $contentMargin;
			height: $headerSize;
			ul {
				width: 100%;
				background: green;
				height: $headerSize;
				li {
					display: inline;
					height: $headerSize;
					line-height: $headerSize;
				}
			}
		}
	}
	
	// Global section styles
	section {
		overflow: hidden;
		&:not([role="feature"]) {
			figure {
			 	margin: 0 $contentMargin $contentMargin $contentMargin;
				border-radius: 3px;
				&.chrome {
					video {
						border-top-left-radius: 0;
						border-top-right-radius: 0;					
					}
				}
			}
			video {
				border-radius: 3px;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			margin: 1rem 0 0.2rem 0;
		}
		p {
			max-width: 90%;
		}
	}

	section[role="overview"],
	section[role="further-reading"],
	aside[role="other-projects"],
	footer {
		margin: 1rem $contentMargin;
	}

	// Figure styles
	figure {
		overflow: hidden;
		&.cropped {
			img {
				width: 160%;
				max-width: 160%;
				margin-left: -30%;
				margin-top: -20%;
			}
			max-height: 60vw;
		}
		&.vector-logo {
			padding-top: 100%;
  			padding-top: 50%;
  			box-sizing: border-box;
  			position: relative;
  			text-align: center;
			img {
				width: $logo-small;
				position: absolute;
				top: calc(50% - #{$logo-small-height});
				left: calc(50% - (#{$logo-small} /2));
			}
		}
		&#in2wrk-logo {
			background: #209cae;
		}
	}
	
	// Media
	img {
		max-width: 100%;
		display: block;
	}
	video {
		max-width: 100%;
		display: block;
	}
	section[role="feature"] {
		video {
			display: block;
			width: 100%;
			background: grey;
			overflow: hidden;
		}
		&.chrome {
			width: 98%;
			margin: 0 auto;
			margin-bottom: $contentMargin;
		}
	}
	.embed-container { 
		position: relative; 
		padding-bottom: 56.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%; 
		height: auto;
		iframe, object, embed {
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%;
		}
	} 
	.chrome {
		padding-top: 20px;
		background-color: #ebebeb;
		position: relative;
		box-sizing: border-box;
		border-radius: 4px;
		&::before {
			content: '';
			position: absolute;
			left: $contentMargin/2;
			top: 7px;
			width: 100px;
			height: 20px;
			display: block;
			background: url(/Asset/chrome-btn.svg) no-repeat;
			background-size: 25px 6px;
		}
	}

	// Overview styles
	section[role="overview"] {
		> h1 {
			font-size: 1.4rem;
		}
	}

	// List styles
	section[role="involvement"],
	section[role="output"],
	section[role="client"] {
		h1 > span {
			color: grey;
		}
		p {
			text-transform: uppercase;
			font-size: 0.8rem;
		}
		ul {
			li {
				display: inline;
				text-transform: uppercase;
				font-size: 0.8rem;
			}
		}
	}

	// Feature styles
	section[role="feature"] {
		margin-bottom: 1rem;
	}

	// Showcase styles
	section[role="showcase"] {
		figure {
			border-radius: 3px;
		}
	}

	// Developement styles
	section[role="development"] {
		color: white;
		background: rgba(0,0,0,0.5);
		h1 {
			margin: 1rem $contentMargin;
		}
		> section {
			width: 100%;
			height: 10rem;
			overflow: auto;
		}
	}
	
	// Footer styles
	footer {
		margin-bottom: $contentMargin*2;
	}

}