@import "reset.scss";
@import "variables.scss";

body {
	text-rendering: optimizeLegibility;
	li {
		list-style: none;
	}

	header {
		background: red;
		width: 100%;
		overflow: hidden;
		height: $headerSize;
		h1 {
			background: grey;
			float: left;
			margin-left: $contentMargin;
			height: $headerSize;
			line-height: $headerSize;
		}
		nav {
			float: right;
			margin-right: $contentMargin;
			height: $headerSize;
			ul {
				width: 100%;
				background: green;
				height: $headerSize;
				li {
					display: inline;
					height: $headerSize;
					line-height: $headerSize;
				}
			}
		}
	}
	img {
		max-width: 100%;
		display: block;
	}

	
	section {
		&:not([role="feature"]) {
			figure {
			 	margin: 0 $contentMargin $contentMargin $contentMargin;
			}
		}
	}

	figure {
		overflow: hidden;
		&.cropped {
			img {
				max-width: 160%;
				margin-left: -30%;
				margin-top: -23%;
			}
			max-height: 55vw;
		}
	}

	video {
		display: block;
		width: 100%;
		background: grey;
	}

	section {
		&.chrome {
			padding-top: 20px;
			background-color: #ebebeb;
			position: relative;
			box-sizing: border-box;
			border-radius: 4px;
			width: 98%;
			margin: 0 auto;

			&::before {
				content: '';
				position: absolute;
				left: $contentMargin/2;
				top: 7px;
				width: 100px;
				height: 20px;
				display: block;
				background: url(/Asset/chrome-btn.svg) no-repeat;
				background-size: 25px 6px;
			}
		}
		p {
			max-width: 80%;
		}
	}

	section[role="involvement"] {
		h1 > span {
			color: grey;
		}
		ul {
			li {
				display: inline;
			}
		}
	}

	section[role="feature"] {
		margin-bottom: 1rem;
	}

	section[role="showcase"] {
		figure {
			border-radius: 3px;
		}
	}

	section[role="development"] {
		h1 {
			margin: 1rem $contentMargin;
		}
		> section {
			width: 100%;
			height: 10rem;
			overflow: auto;
		}
	}


	section[role="overview"],
	section[role="further-reading"],
	aside[role="other-projects"],
	footer {
		margin: 1rem $contentMargin;
	}
}