@import "reset.scss";
@import "variables.scss";

body {

	// Base styles
	text-rendering: optimizeLegibility;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.2rem;

	li {
		list-style: none;
	}

	// Header
	header {
		background: red;
		width: 100%;
		overflow: hidden;
		height: $headerSize;
		h1 {
			background: grey;
			float: left;
			a {
				padding: 0 $contentMargin;
				height: $headerSize;
				line-height: $headerSize;
				display: inline-block;
			}
		}
		nav {
			float: right;
			height: $headerSize;
			ul {
				width: 100%;
				background: green;
				height: $headerSize;
				li {
					display: inline-block;
					a {
						padding: 0 $contentMargin;
						height: $headerSize;
						line-height: $headerSize;
						display: inline-block;
					}
				}
			}
		}
	}

	a[target="_blank"]:after {
		content: "\29C9";
		color: #666666;
		outline: 0;
		border: 0;
		margin-left: $contentMargin /4;
		text-decoration: none;
		display: inline-block;
	}
	
	// Global section styles
	section {
		overflow: hidden;
		&:not([role="feature"]) {
			figure {
			 	margin: 0 $contentMargin $contentMargin $contentMargin;
				border-radius: 3px;
				&.chrome {
					video {
						border-top-left-radius: 0;
						border-top-right-radius: 0;					
					}
				}
			}
			video {
				border-radius: 3px;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			margin: 1rem 0 0.2rem 0;
		}
		p {
			max-width: 90%;
		}
	}
	
	section[role="part-project"] > h1,
	section[role="overview"],
	section[role="further-reading"],
	aside[role="other-projects"] h1,
	footer {
		margin: $contentMargin;
	}

	// Figure styles
	figure {
		overflow: hidden;
		&.cropped {
			img {
				width: 160%;
				max-width: 160%;
				margin-left: -30%;
				margin-top: -22vw;
			}
			max-height: 60vw;
		}
		&.vector-logo {
  			padding-top: 55%;
  			box-sizing: border-box;
  			position: relative;
  			text-align: center;
			img {
				width: $logo-small;
				position: absolute;
				top: calc(50% - #{$logo-small-height});
				left: calc(50% - (#{$logo-small} /2));
			}
		}
		&#in2wrk-logo {
			background: #209cae;
		}
	}
	
	// Media
	img {
		max-width: 100%;
		display: block;
	}
	video {
		max-width: 100%;
		display: block;
	}
	section[role="feature"] {
		video {
			display: block;
			width: 100%;
			background: grey;
			overflow: hidden;
		}
		&.chrome {
			width: 98%;
			margin: 0 auto;
			margin-bottom: $contentMargin;
			video {
				border-top-left-radius: 0;
				border-top-right-radius: 0;	
			}
		}
	}
	.embed-container { 
		position: relative; 
		padding-bottom: 56.25%; 
		height: 0; 
		overflow: hidden; 
		max-width: 100%; 
		height: auto;
		iframe, object, embed {
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%;
		}
	} 
	.chrome {
		padding-top: 20px;
		background-color: #ebebeb;
		position: relative;
		box-sizing: border-box;
		border-radius: 4px;
		&::before {
			content: '';
			position: absolute;
			left: $contentMargin/2;
			top: 7px;
			width: 100px;
			height: 20px;
			display: block;
			background: url(/Asset/chrome-btn.svg) no-repeat;
			background-size: 25px 6px;
		}
	}

	// Overview styles
	section[role="overview"] {
		> h1 {
			font-size: 1.4rem;
		}
	}

	// List styles
	section[role="involvement"],
	section[role="output"],
	section[role="client"] {
		h1 > span {
			color: grey;
		}
		
		p, ul li {
			text-transform: uppercase;
			font-size: 0.8rem;
		}

		ul {
			li {
				display: inline;
				margin-right: 0.5rem;
			}
		}
	}

	// Feature styles
	section[role="feature"] {
		margin-bottom: 1rem;
	}

	// Showcase styles
	section[role="showcase"] {
		figure {
			border-radius: 3px;
		}
		p {
			margin: $contentMargin;
			margin-top: $contentMargin *1.5;
			position: relative;
			&::before {
				content: "";
				width: 4px;
				height: $contentMargin *2;
				top: -$contentMargin *2.5;
				left: $contentMargin;
				position: absolute;
				background-color: red;
			}
			a {
				float: left;
				position: relative;
				padding-left: $contentMargin *2;
				&::before {
					content: "";
					width: 4px;
					height: $contentMargin *2;
					left: $contentMargin;
					position: absolute;
					background-color: red;
				}
				&.process {
					font-size: 0.8rem;
					margin-top: $contentMargin /2;
					text-decoration: none;
					display: inline-block;
				}
			}
		}
	}

	// Developement styles
	section[role="development"] {
		color: white;
		background: rgba(0,0,0,0.5);
		h1 {
			margin: $contentMargin;
		}
		> section {
			width: 100%;
			height: 10rem;
			overflow: auto;
		}
	}

	section[role="further-reading"] {
		margin-bottom: $contentMargin*2;
		ul {
			li {
				margin: 0.8rem 0;
			}
		}
	}

	aside[role="other-projects"] {
		nav {
			ul {
				li {
					a {
						height: $contentMargin *4;
						line-height: $contentMargin *4;
						border-top: 1px solid black;
						padding-left: $contentMargin;
						width: 100%;
						display: block;
						text-decoration: none;
					}
					&:last-of-type {
						border-bottom: 1px solid black;
					}
				}
			}
		}
	}
	
	// Footer styles
	footer {
		margin-top: $contentMargin*2;
		margin-bottom: $contentMargin*2;
		nav {
			a {
				height: $contentMargin *2;
				line-height: $contentMargin *2;
			}
		}
	}

}